html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS Pgothic", knowledge-reg, helvetica, arial, sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}